.app-form-field {
  position: relative;
  display: block;

  &-label {
    position: absolute;
    left: 8px;
    bottom: 0px;
    transition: 0.3s ease;
    transform-origin: left;
    pointer-events: none;
    font-size: 13px;
    line-height: 28px;
  }

  input.app-input {
    &.is-focus,
    &.has-value {
      + .app-form-field-label {
        color: var(--color-primary);
        transform: scale(0.8) translateY(-32px);
      }
    }
  }
}
