$positions: (
  t: top,
  l: left,
  r: right,
  b: bottom,
);

$spacings: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  10: 40px,
);

// MARGIN
@each $short, $position in $positions {
  @each $spacing, $spacing-val in $spacings {
    .m#{$short}-#{$spacing} {
      margin-#{$position}: $spacing-val;
    }
  }
}

// PADDING
@each $short, $position in $positions {
  @each $spacing, $spacing-val in $spacings {
    .p#{$short}-#{$spacing} {
      padding-#{$position}: $spacing-val;
    }
  }
}
