@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

html,
body {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: var(--font-base);
  color: var(--color-dark);
}

.text-small {
  font-size: var(--font-small);
}
.text-base {
  font-size: var(--font-base);
}
.text-large {
  font-size: var(--font-large);
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-gold {
  color: var(--color-gold);
}