:root {
  --color-white: #fff;
  --color-dark: #293241;
  --color-light: #fafafa;
  --color-light-accent: #e1e1e1;

  --color-primary: #98c1d9;
  --color-primary-400: #e0fbfc;
  --color-primary-600: #3d5a80;

  --color-secondary: #ee6c4d;

  --header-height: 60px;

  --layout-spacing: 20px;
}
