:root {
  --color-white: #fff;
  --color-dark: #293241;
  --color-light: #f9f8f7;
  --color-light-accent: #ece9e7;
  --color-gold: #d4af37;

  --color-primary: #98c1d9;
  --color-primary-400: #e0fbfc;
  --color-primary-600: #3d5a80;

  --color-secondary: #ee6c4d;

  --header-height: 82px;

  --layout-spacing: 20px;

  --font-base: 18px;
  --font-large: 24px;
  --font-small: 14px;
}
