.app-button {
  padding: 8px 16px;
  border: 2px solid var(--color-dark);
  border-radius: 8px;
  background-color: var(--color-dark);
  color: var(--color-white);
  transition: .3s ease;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
