<app-form-field label="Bet" class="mb-5">
  <input type="number" appInput #bet [value]="5" />
</app-form-field>
<div class="flex">
  <p class="text-center text-bold w-full">{{data.fight.Fighters[0].LastName}}</p>
  <p class="text-center">vs.</p>
  <p class="text-center text-bold w-full">{{data.fight.Fighters[1].LastName}}</p>
</div>
<div class="selector-container mt-4">
  <div
    *ngFor="let player of playerData"
    class="selector"
    [class.left]="player.selection === 0"
    [class.right]="player.selection === 1"
  >
    <mat-icon class="selector-left" (click)="player.selection = 0"
    [class.invisible]="player.selection === 0"
      >chevron_left</mat-icon
    >
    <span class="text-small">{{ player.player }} </span>
    <mat-icon class="selector-right" (click)="player.selection = 1"
      [class.invisible]="player.selection === 1"
      >chevron_right</mat-icon
    >
  </div>
</div>

<button class="w-full mt-4" appButton (click)="submit(bet.value)">
  Submit
</button>
