<div class="grid grid-3 items-center">
    <p class="w-full text-center text-bold">{{ data.fighters[0].LastName }}</p>
    <p></p>
    <p class="w-full text-center text-bold">{{ data.fighters[1].LastName }}</p>
    
    <p class="w-full text-center">{{ data.fighters[0].PreFightWins }}</p>
    <p class="w-full text-center text-small">Wins</p>
    <p class="w-full text-center">{{ data.fighters[1].PreFightWins }}</p>
    
    <p class="w-full text-center">{{ data.fighters[0].PreFightDraws }}</p>
    <p class="w-full text-center text-small">Draws</p>
    <p class="w-full text-center">{{ data.fighters[1].PreFightDraws }}</p>
    
    <p class="w-full text-center">{{ data.fighters[0].PreFightLosses }}</p>
    <p class="w-full text-center text-small">Losses</p>
    <p class="w-full text-center">{{ data.fighters[1].PreFightLosses }}</p> 
</div>
